In [1]:
# Import seaborn
import seaborn as sns

# Apply the default theme
sns.set_theme()

In [2]:
import pandas as pd
df = pd.read_excel('E:\\Essex\\Project_903\\data_set\\interaction.xlsx')
df

,Session_Id,customer_id,product_id_purchased,Types
0,6f87bf71-aba7-11ed-99f3-9f24bacbc83d,1,97,Cart
1,6f87bf72-aba7-11ed-beac-9f24bacbc83d,1,146,Views
2,6f87bf73-aba7-11ed-8f45-9f24bacbc83d,2,208,Cart
3,6f87bf74-aba7-11ed-8c4c-9f24bacbc83d,2,185,Views
4,6f87bf75-aba7-11ed-98f0-9f24bacbc83d,2,156,Cart
...,...,...,...,...
959,6f88f72c-aba7-11ed-abd7-9f24bacbc83d,200,25,Views
960,6f88f72d-aba7-11ed-a0b9-9f24bacbc83d,200,165,Cart
961,6f88f72e-aba7-11ed-9ce6-9f24bacbc83d,200,199,Purchase
962,6f88f72f-aba7-11ed-9a7e-9f24bacbc83d,200,169,Views
963,6f88f730-aba7-11ed-9a8a-9f24bacbc83d,200,123,Cart

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Session_Id            964 non-null    object
 1    customer_id          964 non-null    int64
 2   product_id_purchased  964 non-null    int64
 3   Types                 964 non-null    object
dtypes: int64(2), object(2)
memory usage: 30.2+ KB

In [5]:
#remove these columns and normalize the columns
df2=df["Types"]
df3=df.drop(["Types"],axis=1) # file with customer_id and all

df2.head()

0     Cart
1    Views
2     Cart
3    Views
4     Cart
Name: Types, dtype: object

In [6]:
# for calegorical data use one_hot encoding
one_hot=pd.get_dummies(df[["Types"]])
one_hot.head()

   Types_Cart  Types_Purchase  Types_Views
0           1               0            0
1           0               0            1
2           1               0            0
3           0               0            1
4           1               0            0

In [7]:
interaction_data=pd.concat([df3,one_hot],axis=1)

interaction_data.head()

,Session_Id,customer_id,product_id_purchased,Types_Cart,Types_Purchase,Types_Views
0,6f87bf71-aba7-11ed-99f3-9f24bacbc83d,1,97,1,0,0
1,6f87bf72-aba7-11ed-beac-9f24bacbc83d,1,146,0,0,1
2,6f87bf73-aba7-11ed-8f45-9f24bacbc83d,2,208,1,0,0
3,6f87bf74-aba7-11ed-8c4c-9f24bacbc83d,2,185,0,0,1
4,6f87bf75-aba7-11ed-98f0-9f24bacbc83d,2,156,1,0,0

In [9]:
interaction_data.to_excel("E:\\Essex\\Project_903\\data_set\\normalized_interaction_data.xlsx",index=False)