In [1]:
# Import seaborn
import seaborn as sns

# Apply the default theme
sns.set_theme()

In [2]:
import pandas as pd
df = pd.read_excel('E:\\Essex\\Project_903\\data_set\\_user_data.xlsx')
df

,customer_id,customer_name,Categories,Weekly_Budget,Allergies
0,1,John Ross,Low FODMAP,135,Milk
1,2,Angela Hendrix,Paleo,51,Eggs
2,3,Brett Cuevas,Lacto-Vegetarian,139,Soy
3,4,Paul Thompson,Vegan,102,Fish
4,5,Chris Jones,Pescetarian,110,Fish
...,...,...,...,...,...
195,196,Dr. David Davis,Whole30,105,Gluten
196,197,Ashley Smith,Gluten Free,50,"Tree nuts(almonds, walnuts, pecans, and cashews)"
197,198,Janice Ortiz,Primal,59,Sunflower seeds
198,199,Andrew Foster,Gluten Free,92,Wheat
199,200,Eric Mays,Ovo-Vegetarian,124,Milk

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    200 non-null    int64
 1   customer_name  200 non-null    object
 2   Categories     200 non-null    object
 3   Weekly_Budget  200 non-null    int64
 4   Allergies      200 non-null    object
dtypes: int64(2), object(3)
memory usage: 7.9+ KB

In [4]:
df1=df.copy()

In [5]:
#remove these columns and normalize the columns
df2=df1["Weekly_Budget"]
df4=df1.drop(["Categories","Allergies","Weekly_Budget"],axis=1) # file with customer_id, customer_name
data=df1.drop(["Weekly_Budget"],axis=1) # df1 is without weekly budget column
#define function
def normalize(data):
    normalize_data=(data-data.min())/(data.max()-data.min())
    return normalize_data
#call the function to normalize the columns 
normalized_data_frame=normalize(df2)
normalized_data_frame.head()
df4

     customer_id    customer_name
0              1        John Ross
1              2   Angela Hendrix
2              3     Brett Cuevas
3              4    Paul Thompson
4              5      Chris Jones
..           ...              ...
195          196  Dr. David Davis
196          197     Ashley Smith
197          198     Janice Ortiz
198          199    Andrew Foster
199          200        Eric Mays

[200 rows x 2 columns]

In [6]:

#df3=df1.copy()
df3=data.drop(["customer_id","customer_name"],axis=1)
df3

           Categories                                         Allergies
0          Low FODMAP                                              Milk
1               Paleo                                              Eggs
2    Lacto-Vegetarian                                               Soy
3               Vegan                                              Fish
4         Pescetarian                                              Fish
..                ...                                               ...
195           Whole30                                            Gluten
196       Gluten Free  Tree nuts(almonds, walnuts, pecans, and cashews)
197            Primal                                   Sunflower seeds
198       Gluten Free                                             Wheat
199    Ovo-Vegetarian                                              Milk

[200 rows x 2 columns]

In [7]:
# for calegorical data use one_hot encoding
one_hot=pd.get_dummies(df3[["Categories","Allergies"]])
one_hot.head()

,Categories_Gluten Free,Categories_Ketogenic,Categories_Lacto-Vegetarian,Categories_Low FODMAP,Categories_Ovo-Vegetarian,Categories_Paleo,Categories_Pescetarian,Categories_Primal,Categories_Vegan,Categories_Vegetarian,...,Allergies_Mustard,Allergies_No Allergies,Allergies_Peanuts,Allergies_Sesame,"Allergies_Shellfish ( crab, lobster, and shrimp)",Allergies_Soy,Allergies_Sunflower seeds,"Allergies_Tree nuts(almonds, walnuts, pecans, and cashews)",Allergies_Wheat,Allergies_Yeast
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
user_data=pd.concat([normalized_data_frame,one_hot],axis=1)
new_user_data=pd.concat([df4,user_data],axis=1)
new_user_data.head()

,customer_id,customer_name,Weekly_Budget,Categories_Gluten Free,Categories_Ketogenic,Categories_Lacto-Vegetarian,Categories_Low FODMAP,Categories_Ovo-Vegetarian,Categories_Paleo,Categories_Pescetarian,...,Allergies_Mustard,Allergies_No Allergies,Allergies_Peanuts,Allergies_Sesame,"Allergies_Shellfish ( crab, lobster, and shrimp)",Allergies_Soy,Allergies_Sunflower seeds,"Allergies_Tree nuts(almonds, walnuts, pecans, and cashews)",Allergies_Wheat,Allergies_Yeast
0,1,John Ross,0.858586,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Angela Hendrix,0.010101,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Brett Cuevas,0.898990,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Paul Thompson,0.525253,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Chris Jones,0.606061,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
new_user_data.to_excel("E:\\Essex\\Project_903\\data_set\\normalized_user_data.xlsx",index=False)