In [1]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-16.8.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 18.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-16.8.1

In [32]:
from faker import Faker
import pandas as pd
import numpy as np

In [33]:
fake=Faker()

In [34]:

customer_id=[]
customer_name=[]
product_id_purchased=[]
purchase_date_time=[]
invoice_id=[]


for x in range(1000):

  invoice_id.append(x+1)
  
  #customer_id.append(x)
  
  name=(fake.name())

  for y in range(np.random.randint(1,10)):

    purchase_date_time.append(fake.date_time_between('-1y','now'))

    product_id_purchased.append(np.random.randint(1,210))

    customer_id.append(x+1)

    customer_name.append(name)

In [35]:
df=pd.DataFrame(zip(customer_id,customer_name,purchase_date_time,product_id_purchased,invoice_id),columns=['customer_id','customer_name','purchase_date_time','product_id_purchased','invoice_id'])
df

,customer_id,customer_name,purchase_date_time,product_id_purchased,invoice_id
0,1,Kylie Schneider,2023-01-24 11:39:42,97,1
1,1,Kylie Schneider,2022-06-19 19:27:33,146,2
2,2,Miss Laurie Dawson,2022-10-25 04:05:02,208,3
3,2,Miss Laurie Dawson,2022-06-03 12:22:46,185,4
4,2,Miss Laurie Dawson,2022-03-13 15:02:44,156,5
...,...,...,...,...,...
995,207,Cynthia Irwin,2023-02-01 07:30:51,125,996
996,207,Cynthia Irwin,2023-01-10 17:25:57,167,997
997,208,Mr. Scott Calderon MD,2022-08-17 18:30:59,111,998
998,209,Theresa Lawrence,2022-10-12 08:23:27,148,999
999,209,Theresa Lawrence,2023-02-11 13:22:58,1,1000

In [30]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [36]:
df.to_excel('/content/drive/MyDrive/Colab_Notebooks/group_project/_purchase_data.xlsx')