In [1]:
import uuid
import pandas as pd
import random
import requests

In [2]:
data = pd.read_excel("D:/UoE_Notes/Assignment/Group_Project/pratices/product_output.xlsx")
data

,customer_id,customer_name,product_id,purchase_date_time,invoice_id
0,3,Anne Hathaway,82,2022-04-04T06:52:30.000Z,23
1,1,Sam BF,48,2022-12-27T09:41:59.000Z,20
2,2,Alan Fleming,80,2022-07-05T04:02:36.000Z,16
3,3,Anne Hathaway,39,2022-11-03T07:19:59.000Z,30
4,4,Sam BF,71,2022-09-29T11:45:10.000Z,20
...,...,...,...,...,...
395,0,Sam BF,62,2022-12-27T09:41:59.000Z,25
396,3,Anne Hathaway,135,2022-07-08T12:03:42.000Z,19
397,4,Sam BF,47,2022-04-04T06:52:30.000Z,32
398,0,Kate Sanders,52,2022-04-04T06:52:30.000Z,18
399,4,Alan Fleming,45,2022-03-12T03:25:20.000Z,28

In [ ]:
df = data.copy()

In [ ]:
df

In [ ]:
items = ["customer_name","purchase_date_time","invoice_id"]
df = df.drop(items,axis=1)

In [ ]:
df

In [3]:
Allergies = ["Peanuts","No Allergies","Tree nuts(almonds, walnuts, pecans, and cashews)","Milk","Eggs","Fish","Shellfish ( crab, lobster, and shrimp)","Soy","Wheat","Sesame","Gluten","Corn","Mustard","Lupin","Sunflower seeds","Yeast"]
Categories = ["Gluten Free","Ketogenic","Vegetarian","Lacto-Vegetarian","Ovo-Vegetarian","Vegan","Pescetarian","Paleo","Primal","Low FODMAP","Whole30"]
df2 = pd.DataFrame([{"Categories":random.choice(Categories),"Allergies":random.choice(Allergies),"Weekly_Budget":random.randint(50, 150)} for i in range(201)])

In [4]:
df2

,Categories,Allergies,Weekly_Budget
0,Whole30,Milk,123
1,Low FODMAP,Eggs,144
2,Ketogenic,Soy,140
3,Gluten Free,Fish,135
4,Vegetarian,Fish,92
...,...,...,...
196,Ketogenic,"Tree nuts(almonds, walnuts, pecans, and cashews)",74
197,Ketogenic,Sunflower seeds,132
198,Vegan,Wheat,115
199,Vegan,Milk,141
200,Ketogenic,No Allergies,65

In [5]:
df2.to_excel("cate.xlsx")